/* body{ 
    background-color: #ffffff


}

#Profile-Image{ 
    max-width: 25% ;
} */ 


/*the CSS box model*/

.col-sm-12{ 
    background: white;
    width: 960px; 
    margin: 23px;
    border: 40px;
    padding:     0px 0px 0px 0px; 
    ;
}
            /* top right bottom left*/


.nav-item{
    float: right;


}

/*FOOTER*/
.footer{
    background: #666666;
    color:#666666;
    height: 25px;
   border-top: #4aaaa5;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;

}

/*This code below is for the Portfolio.html page*/

.logo{ 
    color: #4aaaa5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 19px;

}

.nav-links{
    display:flex;
    background-color: white;
    justify-content: space-around;
    width: 50%;

}

.nav-links a{
    color: rgb(225, 225, 225)
    ;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

div.Portfolio{
    width:100px; display: table;
    margin:auto;
    
}

div.Portfolio{
    float:left; width: 100%;
    color:black; 
    background: #4aaaa5  no-repeat;
    margin:0px; line-height:41px;
    text-indent:40px; font-weight:normal; 
    font-size:20px; 
}
div.Portfolio ul,
div.Portfolio.ul{
    width:100%;
    background-color: black;
    margin-top:20px;
}

div.Portfolio ul li{
    width:25%;
}


/*Portfolio page closed*/
@media screen and (max-width:760px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: black;
        display: flex; 
        flex-direction: column; 
        align-items:center; 
        width: 50%;
        transform: translate(100%); 
    }
}

/*This code below is for the index.html page*/


.nav-links.. a{
    color: rgb(225, 225, 225);
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px; 
}


.nav-item{
    float: right;
}

/*Portfolio css below*/
